In [5]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

Above we have imported a warnings library. You don't have to worry too much about this cell! Just go ahead and run it to proceed with the morning warm up!

##### How will you read the following data into a pandas data frame ?

In [6]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [7]:
df = pd.read_csv(url, header=None)

##### How would you pick columns 0,1,3 ?

In [8]:
df[[0,1,3]]

       0    1    3
0    5.1  3.5  0.2
1    4.9  3.0  0.2
2    4.7  3.2  0.2
3    4.6  3.1  0.2
4    5.0  3.6  0.2
5    5.4  3.9  0.4
6    4.6  3.4  0.3
7    5.0  3.4  0.2
8    4.4  2.9  0.2
9    4.9  3.1  0.1
10   5.4  3.7  0.2
11   4.8  3.4  0.2
12   4.8  3.0  0.1
13   4.3  3.0  0.1
14   5.8  4.0  0.2
15   5.7  4.4  0.4
16   5.4  3.9  0.4
17   5.1  3.5  0.3
18   5.7  3.8  0.3
19   5.1  3.8  0.3
20   5.4  3.4  0.2
21   5.1  3.7  0.4
22   4.6  3.6  0.2
23   5.1  3.3  0.5
24   4.8  3.4  0.2
25   5.0  3.0  0.2
26   5.0  3.4  0.4
27   5.2  3.5  0.2
28   5.2  3.4  0.2
29   4.7  3.2  0.2
..   ...  ...  ...
120  6.9  3.2  2.3
121  5.6  2.8  2.0
122  7.7  2.8  2.0
123  6.3  2.7  1.8
124  6.7  3.3  2.1
125  7.2  3.2  1.8
126  6.2  2.8  1.8
127  6.1  3.0  1.8
128  6.4  2.8  2.1
129  7.2  3.0  1.6
130  7.4  2.8  1.9
131  7.9  3.8  2.0
132  6.4  2.8  2.2
133  6.3  2.8  1.5
134  6.1  2.6  1.4
135  7.7  3.0  2.3
136  6.3  3.4  2.4
137  6.4  3.1  1.8
138  6.0  3.0  1.8
139  6.9  3.1  2.1
140  6.7  3.1  2.4
141  6.9  3.1  2.3
142  5.8  2.7  1.9
143  6.8  3.2  2.3
144  6.7  3.3  2.5
145  6.7  3.0  2.3
146  6.3  2.5  1.9
147  6.5  3.0  2.0
148  6.2  3.4  2.3
149  5.9  3.0  1.8

[150 rows x 3 columns]

##### Use a for loop to find all rows where column 3 entries have values greater than 2 and replace them with NaN values 
##### Hint: Use NumPy

In [9]:
import numpy as np
df.loc[df[3]>2, 3]=np.NaN
df.tail(10)

       0    1    2    3               4
140  6.7  3.1  5.6  NaN  Iris-virginica
141  6.9  3.1  5.1  NaN  Iris-virginica
142  5.8  2.7  5.1  1.9  Iris-virginica
143  6.8  3.2  5.9  NaN  Iris-virginica
144  6.7  3.3  5.7  NaN  Iris-virginica
145  6.7  3.0  5.2  NaN  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  NaN  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

##### Change names of columns to A, B, and C

In [10]:
df=df.rename(columns= {0:'A', 1:'B', 3:'C'})
df.tail()

       A    B    2    C               4
145  6.7  3.0  5.2  NaN  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  NaN  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

##### Add a column 'Day' and start a count of number from 1-100 for all entries

Now use a Pandas Groupby function to group by the 'Day' column and find the mean of each row

##### Drop the 'Day' column