# Module 1 - Introduction to Pandas
## Pandas Part 1

### Introduction

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. You have found out that Austin has one of the largest no-kill animal shelters in the country, and they keep meticulous track of animals that have been taken in and released. However, it is a large file, the online visualization tools provided are terrible, the data is sorted as strings, and the file holds an overwhelming amount  of information. Is there an easy way to look at this data? Can we do this with base Python? Is there a better way?


#### _Our goals today are to be able to_: <br/>

- Import/read data using Pandas
- Identify Pandas objects and manipulate Pandas objects by index and columns
- Filter data using Pandas

#### _Big questions for this lesson_: <br/>
- Why use Pandas? 
 
 (a) Provides methods able analyze data stored in the format Data Scientist most often encounter (.csv, .tsv, or .xlsx). 
 
 (b) Makes it very convenient to load, process, and analyze in the aforementioned formats. 
 
 (c) Along with python visualization packages allows for the visual analysis of tabular data.
 

- When do we want to use NumPy versus Pandas?
- What are the advantages of using Pandas?    
https://stackabuse.com/beginners-tutorial-on-the-pandas-python-library/
- What are the disadvantages of using Pandas?                      
https://wesmckinney.com/blog/apache-arrow-pandas-internals/

- The data structures in Pandas are implemented using series and dataframe classes.  
- A series is a one-dimensional indexed array of some fixed data type.  
- While a dataframe is a two-dimensional data structure like a table where each column contains data of the same type.  
- DataFrames are great for representing real data: rows correspond to instances (examples, observations, etc.), and columns correspond to features of these instances.

### Activation:

<img src="https://cdn-images-1.medium.com/max/1600/1*9IU5fBzJisilYjRAi-f55Q.png" width=700, height=700>  




- The data manipulation capabilities of Pandas are built on top of the numpy library.
- Pandas dataframe object represents a spreadsheet with cell values, column names, and row index labels.

### 1. Importing and reading data with Pandas!

#### Let's use pandas to read some csv files so we can interact with them.

In [2]:
# First, let's check which directory we are in so the files we expect to see are there.
!pwd
!ls data -la # view data

/Users/miguelmbaba/Desktop/fis/dc-ds-08-26-19/module-1/week-1/day-5-pandas-1
ls: -la: No such file or directory
data:
example1.csv     made_up_jobs.csv

In [3]:
import pandas as pd

example_csv = pd.read_csv('data/example1.csv')

In [6]:
!head data/example1.csv

Title1,Title2,Title3
one,two,three
example1,example2,example3

There is also `read_excel`, `read_html`, and many other pandas `read_` functions.  
http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

In [5]:
example_csv.head()

     Title1    Title2    Title3
0       one       two     three
1  example1  example2  example3

Try loading in the example file in the `data` directory called `made_up_jobs.csv` using pandas.

In [9]:
#read in your csv here!
jobs=pd.read_csv('data/made_up_jobs.csv')
jobs.head()

#remember that it's nice to be able to look at your data, so let's do that here, too.

   ID           Name                       Job  Years Employed
0   0   Bob Bobberty  Underwater Basket Weaver              13
1   1   Susan Smells             Salad Spinner               5
2   2  Alex Lastname      Productivity Manager               2
3   3        Rudy P.                Being cool              55
4   4        Rudy G.  Being compared to Rudy P              50

In [18]:
#pd.ExcelFile (Reads entire Excel file)

You can also load in data by using the url of an associated dataset.

In [13]:
shelter_data = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')
# this link is copied directly from the download option for CSV

shelter_data.head(150)

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A790578,*Tux,08/30/2019 08:00:00 AM,08/30/2019 08:00:00 AM,09/12/2017,Adoption,Foster,Dog,Neutered Male,1 year,Boxer/Pointer,Black/White
1,A798506,*Drake,08/30/2019 07:26:00 AM,08/30/2019 07:26:00 AM,06/16/2019,Adoption,Foster,Dog,Neutered Male,2 months,Labrador Retriever/Bearded Collie,Black/White
2,A798504,*Travis,08/30/2019 06:53:00 AM,08/30/2019 06:53:00 AM,06/16/2019,Adoption,Foster,Dog,Neutered Male,2 months,Labrador Retriever/Bearded Collie,Black/Brown
3,A798503,*Annie,08/30/2019 06:50:00 AM,08/30/2019 06:50:00 AM,06/16/2019,Adoption,Foster,Dog,Spayed Female,2 months,Labrador Retriever/Bearded Collie,Black/Brown
4,A798500,*Monroe,08/30/2019 06:45:00 AM,08/30/2019 06:45:00 AM,06/16/2019,Adoption,Foster,Dog,Spayed Female,2 months,Labrador Retriever/Bearded Collie,Tricolor/White
5,A798502,*Mary,08/30/2019 06:42:00 AM,08/30/2019 06:42:00 AM,06/16/2019,Adoption,Foster,Dog,Spayed Female,2 months,Labrador Retriever/Bearded Collie,Black/Brown
6,A798499,*Eva,08/30/2019 06:38:00 AM,08/30/2019 06:38:00 AM,06/16/2019,Adoption,Foster,Dog,Spayed Female,2 months,Labrador Retriever/Bearded Collie,Sable
7,A803079,Blue,08/29/2019 07:43:00 PM,08/29/2019 07:43:00 PM,08/27/2016,Return to Owner,NaN,Dog,Intact Male,3 years,Pit Bull,Blue/White
8,A803077,Cali,08/29/2019 07:43:00 PM,08/29/2019 07:43:00 PM,08/27/2016,Return to Owner,NaN,Dog,Intact Female,3 years,Pit Bull,Black/White
9,A803095,Loppy,08/29/2019 07:11:00 PM,08/29/2019 07:11:00 PM,08/27/2018,Return to Owner,NaN,Dog,Intact Female,1 year,Chihuahua Shorthair Mix,Chocolate/White
10,A803110,Ami,08/29/2019 06:50:00 PM,08/29/2019 06:50:00 PM,05/27/2019,Return to Owner,NaN,Dog,Intact Female,3 months,German Shepherd Mix,Tricolor
11,A802958,Leo,08/29/2019 06:13:00 PM,08/29/2019 06:13:00 PM,08/25/2018,Rto-Adopt,NaN,Dog,Neutered Male,1 year,Plott Hound Mix,Brown Brindle/White
12,A802872,*Bandit,08/29/2019 06:09:00 PM,08/29/2019 06:09:00 PM,08/24/2018,Adoption,NaN,Dog,Neutered Male,1 year,Labrador Retriever Mix,Brown/Tricolor
13,A802881,NaN,08/29/2019 05:50:00 PM,08/29/2019 05:50:00 PM,06/17/2019,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair,Blue/White
14,A578861,Ruby,08/29/2019 05:23:00 PM,08/29/2019 05:23:00 PM,09/15/2009,Adoption,NaN,Dog,Spayed Female,9 years,Boxer Mix,White/Brown
15,A801437,*Bunny,08/29/2019 05:09:00 PM,08/29/2019 05:09:00 PM,08/04/2018,Adoption,NaN,Cat,Spayed Female,1 year,Domestic Shorthair,Calico
16,A802606,Bear,08/29/2019 04:56:00 PM,08/29/2019 04:56:00 PM,08/20/2018,Adoption,NaN,Dog,Neutered Male,1 year,German Shepherd,Black/Brown
17,A802679,NaN,08/29/2019 04:55:00 PM,08/29/2019 04:55:00 PM,08/21/2018,Adoption,NaN,Dog,Neutered Male,1 year,Cairn Terrier,Black/Tricolor
18,A798430,NaN,08/29/2019 04:48:00 PM,08/29/2019 04:48:00 PM,03/25/2019,Adoption,NaN,Cat,Spayed Female,5 months,Domestic Shorthair,Tortie
19,A768899,Opien,08/29/2019 04:35:00 PM,08/29/2019 04:35:00 PM,03/27/2015,Return to Owner,NaN,Dog,Neutered Male,4 years,Pit Bull Mix,White/Black
20,A802833,Ramona,08/29/2019 04:29:00 PM,08/29/2019 04:29:00 PM,08/23/2017,Adoption,NaN,Dog,Spayed Female,2 years,Labrador Retriever Mix,Tan/White
21,A802884,NaN,08/29/2019 04:04:00 PM,08/29/2019 04:04:00 PM,06/24/2019,Adoption,NaN,Dog,Neutered Male,2 months,Toy Poodle/Lhasa Apso,Buff
22,A803224,NaN,08/29/2019 04:03:00 PM,08/29/2019 04:03:00 PM,08/22/2019,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair,Blue
23,A733193,Sadie,08/29/2019 03:58:00 PM,08/29/2019 03:58:00 PM,08/18/2009,Return to Owner,NaN,Dog,Spayed Female,10 years,Australian Cattle Dog Mix,White/Black
24,A802893,Lina,08/29/2019 03:42:00 PM,08/29/2019 03:42:00 PM,05/03/2019,Return to Owner,NaN,Dog,Intact Female,3 months,German Shepherd,Black/Tan
25,A802964,NaN,08/29/2019 03:30:00 PM,08/29/2019 03:30:00 PM,08/25/2017,Transfer,Snr,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby
26,A802946,NaN,08/29/2019 03:29:00 PM,08/29/2019 03:29:00 PM,08/25/2017,Transfer,Snr,Cat,Intact Male,2 years,Domestic Shorthair Mix,Black
27,A802948,NaN,08/29/2019 03:29:00 PM,08/29/2019 03:29:00 PM,12/25/2018,Transfer,Snr,Cat,Intact Female,8 months,Domestic Shorthair,Torbie/White
28,A802947,NaN,08/29/2019 03:29:00 PM,08/29/2019 03:29:00 PM,08/25/2017,Transfer,Snr,Cat,Intact Male,2 years,Domestic Shorthair,Brown Tabby
29,A802491,Austin,08/29/2019 03:28:00 PM,08/29/2019 03:28:00 PM,01/19/2016,Return to Owner,NaN,Dog,Neutered Male,3 years,Labrador Retriever,Yellow
...,...,...,...,...,...,...,...,...,...,...,...,...
120,A802535,Winry,08/27/2019 05:14:00 PM,08/27/2019 05:14:00 PM,12/27/2018,Adoption,NaN,Dog,Spayed Female,7 months,Pit Bull/Labrador Retriever,Brown/White
121,A802704,Pooch,08/27/2019 05:11:00 PM,08/27/2019 05:11:00 PM,08/21/2010,Transfer,Partner,Dog,Neutered Male,9 years,Pug Mix,Black/White
122,A802968,Barney,08/27/2019 05:11:00 PM,08/27/2019 05:11:00 PM,10/27/2018,Transfer,Partner,Dog,Neutered Male,9 months,German Shorthair Pointer,Black/White
123,A802712,Princess,08/27/2019 05:07:00 PM,08/27/2019 05:07:00 PM,08/27/2013,Adoption,NaN,Dog,Spayed Female,6 years,Chihuahua Shorthair,Black
124,A802815,NaN,08/27/2019 04:57:00 PM,08/27/2019 04:57:00 PM,05/23/2019,Adoption,NaN,Dog,Spayed Female,3 months,Labrador Retriever,Tan
125,A801958,*Melody,08/27/2019 04:48:00 PM,08/27/2019 04:48:00 PM,08/12/2018,Adoption,NaN,Dog,Spayed Female,1 year,Pit Bull Mix,White/Brown
126,A802751,NaN,08/27/2019 04:43:00 PM,08/27/2019 04:43:00 PM,01/22/2019,Adoption,NaN,Dog,Neutered Male,7 months,Chihuahua Shorthair Mix,Tan/White
127,A787312,Chaco,08/27/2019 04:35:00 PM,08/27/2019 04:35:00 PM,04/11/2018,Return to Owner,NaN,Dog,Intact Male,1 year,Labrador Retriever Mix,Black/White
128,A802963,Coco,08/27/2019 04:32:00 PM,08/27/2019 04:32:00 PM,11/25/2018,Adoption,NaN,Dog,Spayed Female,9 months,Bichon Frise Mix,White
129,A802847,NaN,08/27/2019 04:19:00 PM,08/27/2019 04:19:00 PM,08/23/2018,Adoption,NaN,Dog,Spayed Female,1 year,Chihuahua Shorthair,Brown/White
130,A802984,Little Man,08/27/2019 04:16:00 PM,08/27/2019 04:16:00 PM,03/10/2019,Adoption,NaN,Cat,Neutered Male,5 months,Domestic Shorthair,Orange Tabby
131,A802621,Ester,08/27/2019 04:09:00 PM,08/27/2019 04:09:00 PM,06/22/2019,Adoption,NaN,Cat,Spayed Female,2 months,Siamese Mix,Blue Point
132,A738561,Beast,08/27/2019 03:47:00 PM,08/27/2019 03:47:00 PM,11/18/2013,Return to Owner,NaN,Dog,Neutered Male,5 years,Pit Bull Mix,Blue/White
133,A803037,Maeby,08/27/2019 03:44:00 PM,08/27/2019 03:44:00 PM,08/26/2012,Return to Owner,NaN,Dog,Spayed Female,7 years,Australian Shepherd,White/Black
134,A802660,*Zooko,08/27/2019 01:23:00 PM,08/27/2019 01:23:00 PM,10/21/2018,Transfer,Partner,Dog,Intact Male,10 months,Black Mouth Cur Mix,Tan/White
135,A802780,*Radar,08/27/2019 01:23:00 PM,08/27/2019 01:23:00 PM,03/22/2019,Transfer,Partner,Dog,Intact Male,5 months,Pit Bull,White
136,A798482,Nacho,08/27/2019 01:22:00 PM,08/27/2019 01:22:00 PM,06/26/2017,Transfer,Partner,Dog,Neutered Male,2 years,Border Terrier,Black/White
137,A801396,Ollie,08/27/2019 01:22:00 PM,08/27/2019 01:22:00 PM,03/03/2019,Transfer,Partner,Dog,Neutered Male,5 months,Labrador Retriever/Border Collie,Tan/White
138,A802149,*Santos,08/27/2019 01:21:00 PM,08/27/2019 01:21:00 PM,08/14/2018,Transfer,Partner,Dog,Intact Male,1 year,Labrador Retriever/Catahoula,Red/White
139,A802251,*June,08/27/2019 01:21:00 PM,08/27/2019 01:21:00 PM,08/15/2016,Transfer,Partner,Dog,Intact Female,3 years,Pit Bull,Brown/White
140,A797945,*Lucy,08/27/2019 01:15:00 PM,08/27/2019 01:15:00 PM,05/04/2019,Adoption,Foster,Cat,Spayed Female,3 months,Domestic Medium Hair,White/Black
141,A800869,*Sage,08/27/2019 01:01:00 PM,08/27/2019 01:01:00 PM,06/21/2019,Adoption,Foster,Cat,Spayed Female,2 months,Domestic Shorthair,Gray Tabby
142,A798456,*Serrano,08/27/2019 12:59:00 PM,08/27/2019 12:59:00 PM,05/19/2019,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair,Brown Tabby
143,A800867,*Fennel,08/27/2019 12:38:00 PM,08/27/2019 12:38:00 PM,06/21/2019,Adoption,Foster,Cat,Neutered Male,2 months,Domestic Shorthair,Brown Tabby
144,A796618,*Moony,08/27/2019 12:29:00 PM,08/27/2019 12:29:00 PM,05/27/2019,Adoption,Foster,Cat,Neutered Male,3 months,Domestic Shorthair,Brown Tabby/White
145,A796283,*Sandy,08/27/2019 12:29:00 PM,08/27/2019 12:29:00 PM,05/27/2019,Adoption,Foster,Cat,Spayed Female,3 months,Domestic Shorthair,Cream Tabby
146,A802358,Ricky Bobby,08/27/2019 12:13:00 PM,08/27/2019 12:13:00 PM,08/20/2013,Return to Owner,NaN,Dog,Neutered Male,6 years,Pug,Brown Brindle/White
147,A799042,*Quince,08/27/2019 11:42:00 AM,08/27/2019 11:42:00 AM,06/03/2019,Adoption,Foster,Cat,Spayed Female,2 months,Domestic Shorthair,Tortie
148,A802415,*Mindy,08/27/2019 11:32:00 AM,08/27/2019 11:32:00 AM,08/17/2018,Transfer,Snr,Cat,Intact Female,1 year,Domestic Shorthair,Brown Tabby/White
149,A802844,NaN,08/27/2019 11:32:00 AM,08/27/2019 11:32:00 AM,05/23/2019,Transfer,Snr,Cat,Intact Female,3 months,Domestic Shorthair,Orange Tabby

Now that we can read in data, let's get more comfortable with our Pandas data structures.

In [14]:
type(shelter_data)

pandas.core.frame.DataFrame

In [15]:
# Now that data is read let's look at it's shape
print(shelter_data.shape)

(106877, 12)

In [16]:
shelter_data.size

1282524

In [22]:
shelter_data.index

RangeIndex(start=0, stop=106877, step=1)

In [23]:
# What are the names of the columns
print(shelter_data.columns)

Index(['Animal ID', 'Name', 'DateTime', 'MonthYear', 'Date of Birth',
       'Outcome Type', 'Outcome Subtype', 'Animal Type', 'Sex upon Outcome',
       'Age upon Outcome', 'Breed', 'Color'],
      dtype='object')

In [24]:
# What are the different data types present in our data
print(shelter_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106877 entries, 0 to 106876
Data columns (total 12 columns):
Animal ID           106877 non-null object
Name                73287 non-null object
DateTime            106877 non-null object
MonthYear           106877 non-null object
Date of Birth       106877 non-null object
Outcome Type        106870 non-null object
Outcome Subtype     48695 non-null object
Animal Type         106877 non-null object
Sex upon Outcome    106874 non-null object
Age upon Outcome    106865 non-null object
Breed               106877 non-null object
Color               106877 non-null object
dtypes: object(12)
memory usage: 9.8+ MB
None

In [25]:
# We can find the type of a particular columns in a data frame in this way.
ID_series = shelter_data['Animal ID'] # A series is a column represented as an array
shelter_data['Animal ID'].dtypes

dtype('O')

In [34]:
#shelter_data.Name
shelter_data.columns = [x.replace(' ', '') for x in shelter_data.columns]
shelter_data.columns

SyntaxError: invalid syntax (<ipython-input-34-874ce3d83219>, line 2)

### 2. Utilizing and identifying Pandas objects

- What is a DataFrame object and what is a Series object? 
- How are they different from Python lists?

These are questions we will cover in this section. To start, let's start with this list of fruits.

In [35]:
fruits = ['Apple', 'Orange', 'Watermelon', 'Lemon', 'Mango']

print(fruits)

['Apple', 'Orange', 'Watermelon', 'Lemon', 'Mango']

Using our list of fruits, we can create a pandas object called a 'series' which is much like an array or a vector.

In [38]:
fruits_series = pd.Series(fruits)
fruits_series
#print(fruits_series)
#type(fruits_series)

0         Apple
1        Orange
2    Watermelon
3         Lemon
4         Mango
dtype: object

One difference between python **list objects** and pandas **series objects** is the fact that you can define the index manually for a **series objects**.

In [ ]:
ind = ['a', 'b', 'c', 'd', 'e']

fruits_series = pd.Series(fruits, index=ind)

print(fruits_series)

In [39]:
#fruits_series= ['a', 'b', 'c', 'd', 'e']

With a partner, create your own custom series from a list of lists.

In [40]:
list_of_lists = [['cat'], ['dog'], ['horse'], ['cow'], ['macaw']]

# create custom indices for your series
ind=["Picasso", "Chanel", "Nightmare", "Bessie", "Mac"]

# create the series using your list objects
# You can use either a for loop or also pd.Series
list_of_lists_series = pd.Series(list_of_lists, index=ind)

# print your series
print(list_of_lists_series)
type(list_of_lists_series)

Picasso        [cat]
Chanel         [dog]
Nightmare    [horse]
Bessie         [cow]
Mac          [macaw]
dtype: object

pandas.core.series.Series

We can do a simliar thing with Python dictionaries. This time, however, we will create a DataFrame object from a python dictionary.

In [59]:
# Dictionary with list object in values
student_dict = {
    'name': ['Samantha', 'Alex', 'Dante'],
    'age': ['35', '17', '26'],
    'city': ['Houston', 'Seattle', 'New York']
}

students_df = pd.DataFrame(student_dict)

students_df.head()

       name age      city
0  Samantha  35   Houston
1      Alex  17   Seattle
2     Dante  26  New York

In [60]:
# List with dictionary object in values
#student_list = [
   # {'name': {'Samantha', 'Alex', 'Dante'}},
   # {'age': {'35', '17', '26'}},
   # {'city': {'Houston', 'Seattle', 'New York'}}
#]

#students_df = pd.DataFrame(student_list)

#students_df.head()

In [61]:
#to find data types of columns
students_df.dtypes

name    object
age     object
city    object
dtype: object

Let's change the data type of ages to int.

In [62]:
# We can also change a columns type but the change has to make sense.
students_df.age = students_df.age.astype(str)

#Uncomment line below and observe what happens when trying to convert student's name to int or float
#students_df.name = students_df.name.astype(int)

#How about what happens converting numeric to string
#students_df.age = students_df.age.astype(str)

students_df.dtypes

name    object
age     object
city    object
dtype: object

We can also use a custom index for these items. For example, we might want them to be the individual student ID numbers.

In [63]:
students_df.astype(str).info

<bound method DataFrame.info of        name age      city
0  Samantha  35   Houston
1      Alex  17   Seattle
2     Dante  26  New York>

In [75]:
school_ids = ['1111', '1145', '0096']

# Notice here we use pd.DataFrame not pd.Series as we did for a pandas series.
students_df = pd.DataFrame(student_dict, index=school_ids)

students_df.head()

          name age      city
1111  Samantha  35   Houston
1145      Alex  17   Seattle
0096     Dante  26  New York

Using Pandas, we can also rename column names.

In [81]:
#students_df.columns = ['NAME', 'AGE', 'HOME']
students_df.columns= [x.upper() for x in students_df.columns]
students_df.head()

AttributeError: 'builtin_function_or_method' object has no attribute 'upper'

Or, we can also change the column names using the rename function.

In [79]:
students_df.rename(columns={'AGE': 'YEARS'})

,<built-in method upper of str object at 0x10a062500>,<built-in method upper of str object at 0x122d61378>,<built-in method upper of str object at 0x122d615e0>
1111,Samantha,35,Houston
1145,Alex,17,Seattle
0096,Dante,26,New York

In [82]:
# Notice what happens when we print students_df

students_df

,<built-in method upper of str object at 0x10a062500>,<built-in method upper of str object at 0x122d61378>,<built-in method upper of str object at 0x122d615e0>
1111,Samantha,35,Houston
1145,Alex,17,Seattle
0096,Dante,26,New York

In [83]:
# If you want the file to save over itself, use the option `inplace = True`.
students_df.rename(columns={'AGE': 'YEARS'}, inplace=True)
students_df.head()

,<built-in method upper of str object at 0x10a062500>,<built-in method upper of str object at 0x122d61378>,<built-in method upper of str object at 0x122d615e0>
1111,Samantha,35,Houston
1145,Alex,17,Seattle
0096,Dante,26,New York

Similarly, there is a tool to remove rows and columns from your DataFrame

In [85]:
students_df.drop(columns=['YEARS', 'HOME'])

KeyError: "['YEARS' 'HOME'] not found in axis"

In [86]:
#Notice again what happens if we print students_df 
students_df

,<built-in method upper of str object at 0x10a062500>,<built-in method upper of str object at 0x122d61378>,<built-in method upper of str object at 0x122d615e0>
1111,Samantha,35,Houston
1145,Alex,17,Seattle
0096,Dante,26,New York

In [87]:
students_df.drop(columns=['YEARS', 'HOME'], inplace=True)
students_df

KeyError: "['YEARS' 'HOME'] not found in axis"

If you want the file to save over itself, use the option `inplace = True`.

Every function has options. Let's read more about `drop` [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)

### 3. Filtering Data Using Pandas
There are several ways to grab particular data from a DataFrame. 
- Python lists allow for selection of data only through integer location. 
- You can use a single integer or slice notation to make the selection but NOT a list of integers.
- Dictionaries only allow selection with a single label. Slices and lists of labels are not allowed.

In [88]:
l = [1, 2, 3, 4, 5]
l[[0, 5]]

TypeError: list indices must be integers or slices, not list

### DataFrames can be indexed by column name (label) or row name (index) or by position.   
#### The `.loc` method is used for indexing by name.  
#### While `.iloc` is used for indexing by number.

In [89]:
student_dict = {
    'name': ['Samantha', 'Alex', 'Dante'],
    'age': ['35', '17', '26'],
    'city': ['Houston', 'Seattle', 'New york']
}

students_df = pd.DataFrame(student_dict)

In [90]:
students_df

       name age      city
0  Samantha  35   Houston
1      Alex  17   Seattle
2     Dante  26  New york

### Let's take a look at `.iloc`
#### `.iloc` takes slices based on index position.
#### `.iloc` stands for integer location so that should help with remember what it does
#### `.iloc`[row , column]

In [91]:
# returns the first row
students_df.iloc[0]

name    Samantha
age           35
city     Houston
Name: 0, dtype: object

In [92]:
# returns the first column
students_df.iloc[:, 0]

0    Samantha
1        Alex
2       Dante
Name: name, dtype: object

In [93]:
# returns first two rows notice that ILOC performs regular python slicing.
students_df.iloc[0:2]

       name age     city
0  Samantha  35  Houston
1      Alex  17  Seattle

In [94]:
# returns the first two columns
students_df.iloc[:, 0:2]

       name age
0  Samantha  35
1      Alex  17
2     Dante  26

In [95]:
# returns first row and columns 1 and 2
students_df.iloc[0:1, 0:2]

       name age
0  Samantha  35

### How would we use `.iloc` to return the last item in the last row?

In [96]:
# return the last item in the last row using iloc
students_df.iloc[-1,-1]

'New york'

### How would we use `.iloc` to return the last item in the last column?

In [97]:
# return the last item in the last column using iloc

### What if we only want certain columns or rows?

In [98]:
# Don't do students_df.iloc[0, 2]
students_df.iloc[[0, 2]]

       name age      city
0  Samantha  35   Houston
2     Dante  26  New york

In [99]:
students_df.iloc[[0, 2], [0, 2]]

       name      city
0  Samantha   Houston
2     Dante  New york

### Let's take a look at `.loc`
#### Label based method. 
#### Names or labels of the index is used when taking slices.
#### Also supports boolean subsetting.

In [100]:
# We will use loc to return rows and columns based on labels. Let's look at the students_df DataFrame again.
students_df

       name age      city
0  Samantha  35   Houston
1      Alex  17   Seattle
2     Dante  26  New york

In [101]:
# returns the student information associated with index 0
students_df.loc[0]

name    Samantha
age           35
city     Houston
Name: 0, dtype: object

In [105]:
# returns the student information for row index 0 to 2 INCLUSIVE.
# note iloc would return normal python slicing not including 2 as demonstrated above.
students_df.loc[0:2]

       name age      city
0  Samantha  35   Houston
1      Alex  17   Seattle
2     Dante  26  New york

In [106]:
# returns the column labeled 'age'
students_df.loc[:, 'age']

0    35
1    17
2    26
Name: age, dtype: object

In [107]:
# returns the column labeled 'age' and index values 1 to 2.
# gives us the values of the rows with index from 1 to 2 (inclusive)
# and columns labeled age"
students_df.loc[1:2, 'age']

1    17
2    26
Name: age, dtype: object

In [108]:
# returns the column labeled 'age' and index values 1 to 2.
# gives us the values of the rows with index from 1 to 2 (inclusive)
# and columns labeled age to city (inclusive)"
students_df.loc[1:2, 'age':'city']

  age      city
1  17   Seattle
2  26  New york

In [109]:
# What should we get?
students_df.loc[1:2, ['name', 'city']]

    name      city
1   Alex   Seattle
2  Dante  New york

In [110]:
# How about?
students_df.loc[[0, 2], ['name', 'city']]

       name      city
0  Samantha   Houston
2     Dante  New york

In [111]:
# if index rearranged
school_ids = ['5', '11', '3']
students_df = pd.DataFrame(student_dict, index=school_ids)

In [114]:
# What should we get now?
#students_df.loc[[0, 2], ['name', 'city']] #can't find values 0 and 2  since they are srings so you get an error
#use  '0' and '2'

In [ ]:
students_df.reset_index()

In [ ]:
# What should we get now?
students_df.loc[['5', '11'], ['name', 'city']]

In [ ]:
students_df.set_index("name", inplace=True)
students_df

In [ ]:
students_df.loc[['Samantha']]

In [ ]:
# Subsetting nonconsecutive rows
students_df.loc[['Samantha', 'Dante']]

In [ ]:
# Samantha to the end
students_df.loc['Samantha':]

In [ ]:
# return the first and last rows using one loc command

### Boolean Subsetting

In [ ]:
student_dict = {
    'name': ['Samantha', 'Alex', 'Dante', 'Samantha'],
    'age': ['35', '17', '26', '21'],
    'city': ['Houston', 'Seattle', 'New york', 'Atlanta'],
    'state': ['Texas', 'Washington', 'New York', 'Georgia']
}

students_df = pd.DataFrame(student_dict)

In [ ]:
# The statement data[‘name’] == ‘Samantha’] produces a Pandas Series with a True/False value for every row
# in the ‘data’ DataFrame, where there are “True” values for the rows where the name is “Samantha”.
# These type of boolean arrays can be passed directly to the .loc indexer.
students_df.loc[students_df['name'] == 'Samantha']

In [ ]:
# What about if we only want the city and state of the selected students with the name Samantha?
students_df.loc[students_df['name'] == 'Samantha', ['city', 'state']]

In [ ]:
# What amount if we want to select a student of a specific age?
students_df.loc[students_df['age'] == '21']

In [ ]:
# What amount if we want to select a student of a specific age?
students_df.loc[(students_df['age'] == '21') &
                (students_df['city'] == 'Atlanta')]

In [ ]:
# What should be returned?
students_df.loc[(students_df['age'] == '35') &
                (students_df['city'] == 'Atlanta')]

### Lesson Recap
Pandas combines the power of python lists (selection via integer location) and dictionaries (selection by label)

`.iloc` is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array.

`.iloc` will raise IndexError if a requested indexer is out-of-bounds, except slice indexers which allow out-of-bounds indexing (this conforms with python/numpy slice semantics).

`.loc` is primarily label based, but may also be used with a boolean array.

#### Warning Note that contrary to usual python slices, both the start and the stop are included.

`.loc` will raise a keyError when any items are not found.

### Pandas
- The data structures in Pandas are implemented using series and dataframe classes.  
- A series is a one-dimensional indexed array of some fixed data type.  
- While a dataframe is a two-dimensional data structure like a table where each column contains data of the same type.  
- DataFrames are great for representing real data: rows correspond to instances (examples, observations, etc.), and columns correspond to features of these instances.

### CLASS ASSIGNMENT
Now that we have all of these new tools in our tool belt, use these tools on the shelter data set! 
- Use `shelter_data.columns` to get the list of column names.
- Subset the data by '`Outcome Subtype`.
- Subset the data by '`Outcome Subtype` `Adoption` and only return the `Animal Type` column. 
- Subset the data by '`Outcome Subtype` `Adoption` and only return the `Animal Type` column with only `Cat`. 
- Play around with your new tools on the data set.
- For extra credit: What are the data types returned from the different subsetting? Is what returned a series or dataframe?

In [ ]:
import pandas as pd
shelter_data = pd.read_csv(
    'https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')
shelter_data.head()

## Assessment & Reflection

- One thing you did not know before?
- Two things you want to remember?
- One thing you're still confused by?